<h1 style="color:#2471a3"><i><b>🧹📊 Data Cleaning and Building a Database</b></i></h1>

<h3 style="color:#a93226"><i><b>📦 Import Necessary Libraries</b></i></h3>

In [2]:
import pandas as pd
import re
import os
import sqlite3
import numpy as np

<h3 style="color:#a93226"><i><b>📂 Read the CSV and Convert to DataFrame</b></i></h3>

In [3]:

# Load the dataset
file_path = "../data/raw/imdb_raw_data.csv"  # Ensure the correct path
df = pd.read_csv(file_path)

In [4]:
df_raw=df.copy()

In [5]:
df_raw

,Unnamed: 0,title,directors,Writers,Imdb_Ratings,Release_year,Runtime,Motion_picture_Rating,budgets,gross_us_and_canada,gross_worldwide,opening_weekend_gross_in_uscanada,Languages,Origin,Genre,Production_company,Nominations_and_wins,Oscar
0,0,The Shawshank Redemption,Frank Darabont,"['Stephen King', 'Frank Darabont']",9.3,1994,2h 22m,A,"$25,000,000 (estimated)","$28,767,189","$29,332,133","$727,327",['English'],['United States'],"['Epic', 'Period Drama', 'Prison Drama', 'Drama']",['Castle Rock Entertainment'],21 wins & 42 nominations total,['Nominated for 7 Oscars']
1,1,The Godfather,Francis Ford Coppola,"['Mario Puzo', 'Francis Ford Coppola']",9.2,1972,2h 55m,A,"$6,000,000 (estimated)","$136,381,073","$250,342,198","$302,393","['English', 'Italian', 'Latin']",['United States'],"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']","['Paramount Pictures', 'Albert S. Ruddy Produc...",31 wins & 31 nominations total,['Won 3 Oscars']
2,2,The Dark Knight,Christopher Nolan,"['Jonathan Nolan', 'Christopher Nolan', 'David...",9.0,2008,2h 32m,UA,"$185,000,000 (estimated)","$534,987,076","$1,009,057,329","$158,411,483","['English', 'Mandarin']","['United States', 'United Kingdom']","['Action Epic', 'Epic', 'Superhero', 'Action',...","['Warner Bros.', 'Legendary Entertainment', 'S...",164 wins & 165 nominations total,['Won 2 Oscars']
3,3,The Godfather: Part II,Francis Ford Coppola,"['Francis Ford Coppola', 'Mario Puzo']",9.0,1974,3h 22m,A,"$13,000,000 (estimated)","$47,834,595","$47,964,222","$171,417","['English', 'Italian', 'Spanish', 'Latin', 'Si...",['United States'],"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']","['Paramount Pictures', 'The Coppola Company', ...",17 wins & 21 nominations total,['Won 6 Oscars']
4,4,12 Angry Men,Sidney Lumet,['Reginald Rose'],9.0,1957,1h 36m,U,"$350,000 (estimated)","$2,945",NaN,NaN,[],['United States'],"['Legal Drama', 'Psychological Drama', 'Crime'...",[],16 wins & 12 nominations total,['Nominated for 3 Oscars']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,241,Into the Wild,Sean Penn,"['Sean Penn', 'Jon Krakauer']",8.1,2007,2h 34m,U,"$15,000,000 (estimated)","$18,354,356","$56,676,733","$212,440","['English', 'Danish']",['United States'],"['Coming-of-Age', 'Docudrama', 'Road Trip', 'S...","['Paramount Vantage', 'Art Linson Productions'...",23 wins & 106 nominations total,['Nominated for 2 Oscars']
242,242,The Grapes of Wrath,John Ford,"['Nunnally Johnson', 'John Steinbeck']",8.1,1940,2h 26m,Approved,"$800,000 (estimated)","$7,304",NaN,NaN,[],['United States'],['Drama'],[],10 wins & 6 nominations total,['Won 2 Oscars']
243,243,Groundhog Day,Harold Ramis,"['Danny Rubin', 'Harold Ramis']",8.0,1993,2h 10m,U,"$14,600,000 (estimated)","$71,107,962","$71,108,778","$12,517,672",[],['United States'],"['Feel-Good Romance', 'High-Concept Comedy', '...",[],7 wins & 17 nominations total,['Won 1 BAFTA Award']
244,244,A Man Escaped,Robert Bresson,"['André Devigny', 'Robert Bresson']",8.2,1956,2h 10m,Not Rated,NaN,NaN,NaN,NaN,[],['France'],"['Prison Drama', 'Drama', 'Thriller', 'War']",[],4 wins & 3 nominations total,['Nominated for 1 BAFTA Award']
245,245,Amores perros,Alejandro G. Iñárritu,['Guillermo Arriaga'],8.0,2000,2h 19m,A,"$2,000,000 (estimated)","$5,408,467","$20,908,467","$61,047",['Spanish'],['Mexico'],"['Tragedy', 'Drama', 'Thriller']","['Altavista Films', 'Zeta Film']",55 wins & 24 nominations total,['Nominated for 1 Oscar']

In [6]:
df.shape

(246, 18)

In [7]:
df.isna().sum()

Unnamed: 0                            0
title                                 0
directors                             0
Writers                               0
Imdb_Ratings                          0
Release_year                          0
Runtime                               0
Motion_picture_Rating                 0
budgets                               3
gross_us_and_canada                  11
gross_worldwide                      58
opening_weekend_gross_in_uscanada    30
Languages                             0
Origin                                0
Genre                                 0
Production_company                    0
Nominations_and_wins                  0
Oscar                                 0
dtype: int64

In [8]:
df['budgets'] = df['budgets'].fillna(0)
df['gross_us_and_canada']=df['gross_us_and_canada'].fillna(0)
df['gross_worldwide']=df['gross_worldwide'].fillna(0)
df['opening_weekend_gross_in_uscanada']=df['opening_weekend_gross_in_uscanada'].fillna(0)

In [9]:
df

,Unnamed: 0,title,directors,Writers,Imdb_Ratings,Release_year,Runtime,Motion_picture_Rating,budgets,gross_us_and_canada,gross_worldwide,opening_weekend_gross_in_uscanada,Languages,Origin,Genre,Production_company,Nominations_and_wins,Oscar
0,0,The Shawshank Redemption,Frank Darabont,"['Stephen King', 'Frank Darabont']",9.3,1994,2h 22m,A,"$25,000,000 (estimated)","$28,767,189","$29,332,133","$727,327",['English'],['United States'],"['Epic', 'Period Drama', 'Prison Drama', 'Drama']",['Castle Rock Entertainment'],21 wins & 42 nominations total,['Nominated for 7 Oscars']
1,1,The Godfather,Francis Ford Coppola,"['Mario Puzo', 'Francis Ford Coppola']",9.2,1972,2h 55m,A,"$6,000,000 (estimated)","$136,381,073","$250,342,198","$302,393","['English', 'Italian', 'Latin']",['United States'],"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']","['Paramount Pictures', 'Albert S. Ruddy Produc...",31 wins & 31 nominations total,['Won 3 Oscars']
2,2,The Dark Knight,Christopher Nolan,"['Jonathan Nolan', 'Christopher Nolan', 'David...",9.0,2008,2h 32m,UA,"$185,000,000 (estimated)","$534,987,076","$1,009,057,329","$158,411,483","['English', 'Mandarin']","['United States', 'United Kingdom']","['Action Epic', 'Epic', 'Superhero', 'Action',...","['Warner Bros.', 'Legendary Entertainment', 'S...",164 wins & 165 nominations total,['Won 2 Oscars']
3,3,The Godfather: Part II,Francis Ford Coppola,"['Francis Ford Coppola', 'Mario Puzo']",9.0,1974,3h 22m,A,"$13,000,000 (estimated)","$47,834,595","$47,964,222","$171,417","['English', 'Italian', 'Spanish', 'Latin', 'Si...",['United States'],"['Epic', 'Gangster', 'Tragedy', 'Crime', 'Drama']","['Paramount Pictures', 'The Coppola Company', ...",17 wins & 21 nominations total,['Won 6 Oscars']
4,4,12 Angry Men,Sidney Lumet,['Reginald Rose'],9.0,1957,1h 36m,U,"$350,000 (estimated)","$2,945",0,0,[],['United States'],"['Legal Drama', 'Psychological Drama', 'Crime'...",[],16 wins & 12 nominations total,['Nominated for 3 Oscars']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,241,Into the Wild,Sean Penn,"['Sean Penn', 'Jon Krakauer']",8.1,2007,2h 34m,U,"$15,000,000 (estimated)","$18,354,356","$56,676,733","$212,440","['English', 'Danish']",['United States'],"['Coming-of-Age', 'Docudrama', 'Road Trip', 'S...","['Paramount Vantage', 'Art Linson Productions'...",23 wins & 106 nominations total,['Nominated for 2 Oscars']
242,242,The Grapes of Wrath,John Ford,"['Nunnally Johnson', 'John Steinbeck']",8.1,1940,2h 26m,Approved,"$800,000 (estimated)","$7,304",0,0,[],['United States'],['Drama'],[],10 wins & 6 nominations total,['Won 2 Oscars']
243,243,Groundhog Day,Harold Ramis,"['Danny Rubin', 'Harold Ramis']",8.0,1993,2h 10m,U,"$14,600,000 (estimated)","$71,107,962","$71,108,778","$12,517,672",[],['United States'],"['Feel-Good Romance', 'High-Concept Comedy', '...",[],7 wins & 17 nominations total,['Won 1 BAFTA Award']
244,244,A Man Escaped,Robert Bresson,"['André Devigny', 'Robert Bresson']",8.2,1956,2h 10m,Not Rated,0,0,0,0,[],['France'],"['Prison Drama', 'Drama', 'Thriller', 'War']",[],4 wins & 3 nominations total,['Nominated for 1 BAFTA Award']
245,245,Amores perros,Alejandro G. Iñárritu,['Guillermo Arriaga'],8.0,2000,2h 19m,A,"$2,000,000 (estimated)","$5,408,467","$20,908,467","$61,047",['Spanish'],['Mexico'],"['Tragedy', 'Drama', 'Thriller']","['Altavista Films', 'Zeta Film']",55 wins & 24 nominations total,['Nominated for 1 Oscar']

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.drop_duplicates(inplace=True)

<h3 style="color:#a93226"><i><b>🧹 Cleaning the DataFrame</b></i></h3>

In [12]:
df=df.rename(columns={
    "Unnamed: 0":"movie_id"
})

In [13]:
def clean_money(budget):
    if not budget: 
        return 0.0  

    if isinstance(budget, (int, float)): 
        return float(budget)

    if "$" in budget and "(estimated)" in budget:
        budget = budget.replace("$", "").replace("(estimated)", "").strip()

    budget = budget.replace(",", "") 
    
    try:
        return float(budget)
    except ValueError:
        return 0.0

df['budgets']=df['budgets'].apply(lambda budget: clean_money(budget))

In [14]:

def clean_money(value):
    if pd.isna(value):
        return 0.0  

    if isinstance(value, str):  
        value = value.replace("$", "").replace(",", "").strip()
    
    try:
        return float(value) 
    except ValueError:
        return 0.0  
columns_to_clean = ['gross_us_and_canada', 'gross_worldwide', 'opening_weekend_gross_in_uscanada']

df[columns_to_clean] = df[columns_to_clean].apply(lambda col: col.map(clean_money)) 

pd.options.display.float_format = '{:.2f}'.format

In [15]:
def extract_wins_nominations(value):
    if pd.isna(value): 
        return pd.Series([0, 0])  

    numbers = re.findall(r'\d+', str(value))

    if len(numbers) == 2:  
        return pd.Series([int(numbers[0]), int(numbers[1])])
    elif len(numbers) == 1: 
        return pd.Series([int(numbers[0]), 0])
    else:
        return pd.Series([0, 0])
    
df[['wins', 'nominations']] = df['Nominations_and_wins'].apply(extract_wins_nominations)
df.drop(columns=['Nominations_and_wins'],inplace=True)

In [16]:

def extract_oscars(value):
    if pd.isna(value):  # Handle NaN values
        return 0  

    numbers = re.findall(r'\d+', str(value))  # Extract numbers

    if numbers:  # If a number is found, return it as an integer
        return int(numbers[0])
    
    return 0 

df["Oscar"] = df["Oscar"].apply(extract_oscars)

In [17]:
df.describe()

,movie_id,Imdb_Ratings,Release_year,budgets,gross_us_and_canada,gross_worldwide,opening_weekend_gross_in_uscanada,Oscar,wins,nominations
count,246.00,246.00,246.00,246.00,246.00,246.00,246.00,246.00,246.00,246.00
mean,122.50,8.31,1988.04,34749209.69,94726574.85,224906320.45,19747141.61,2.28,40.61,50.65
std,71.16,0.23,25.45,56368040.15,142830658.01,373217651.15,43665755.75,2.18,51.27,63.66
min,0.00,8.00,1921.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
25%,61.25,8.10,1971.25,1225000.00,2154631.50,141348.50,52879.50,1.00,9.00,9.25
50%,122.50,8.25,1995.00,11000000.00,29764078.00,52813846.50,589033.50,2.00,22.00,25.00
75%,183.75,8.40,2008.00,40000000.00,135385653.25,321679678.00,23962030.50,4.00,51.75,68.25
max,245.00,9.30,2024.00,356000000.00,858373000.00,2799439100.00,357115007.00,11.00,355.00,369.00

<h3 style="color:#a93226"><i><b>📏 Normalizing the Main DataFrame</b></i></h3>

In [18]:
def explode_column(df, column_name, new_column_name):
    df_expanded = df[['movie_id', column_name]].copy()  # Use movie_id directly
    df_expanded[column_name] = df_expanded[column_name].apply(lambda x: eval(x) if isinstance(x, str) and x.startswith('[') else [])
    df_expanded = df_expanded.explode(column_name).dropna().reset_index(drop=True)
    df_expanded.rename(columns={column_name: new_column_name}, inplace=True)
    return df_expanded

# Create separate DataFrames
writers_df = explode_column(df, 'Writers', 'writer_name')
genres_df = explode_column(df, 'Genre', 'genre_name')
production_companies_df = explode_column(df, 'Production_company', 'company_name')
languages_df = explode_column(df, 'Languages', 'language_name')
origin_df = explode_column(df, 'Origin', 'origin_country')

df = df.drop(columns=['Writers', 'Genre', 'Production_company', 'Languages', 'Origin'])

In [19]:
df

,movie_id,title,directors,Imdb_Ratings,Release_year,Runtime,Motion_picture_Rating,budgets,gross_us_and_canada,gross_worldwide,opening_weekend_gross_in_uscanada,Oscar,wins,nominations
0,0,The Shawshank Redemption,Frank Darabont,9.30,1994,2h 22m,A,25000000.00,28767189.00,29332133.00,727327.00,7,21,42
1,1,The Godfather,Francis Ford Coppola,9.20,1972,2h 55m,A,6000000.00,136381073.00,250342198.00,302393.00,3,31,31
2,2,The Dark Knight,Christopher Nolan,9.00,2008,2h 32m,UA,185000000.00,534987076.00,1009057329.00,158411483.00,2,164,165
3,3,The Godfather: Part II,Francis Ford Coppola,9.00,1974,3h 22m,A,13000000.00,47834595.00,47964222.00,171417.00,6,17,21
4,4,12 Angry Men,Sidney Lumet,9.00,1957,1h 36m,U,350000.00,2945.00,0.00,0.00,3,16,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,241,Into the Wild,Sean Penn,8.10,2007,2h 34m,U,15000000.00,18354356.00,56676733.00,212440.00,2,23,106
242,242,The Grapes of Wrath,John Ford,8.10,1940,2h 26m,Approved,800000.00,7304.00,0.00,0.00,2,10,6
243,243,Groundhog Day,Harold Ramis,8.00,1993,2h 10m,U,14600000.00,71107962.00,71108778.00,12517672.00,1,7,17
244,244,A Man Escaped,Robert Bresson,8.20,1956,2h 10m,Not Rated,0.00,0.00,0.00,0.00,1,4,3
245,245,Amores perros,Alejandro G. Iñárritu,8.00,2000,2h 19m,A,2000000.00,5408467.00,20908467.00,61047.00,1,55,24

<h3 style="color:#a93226"><i><b>Cleaning the normalised dataframe</b></i></h3>

In [15]:
replace_rating=['1h 27m','2h 21m','2h 27m','2h 29m']
df['Motion_picture_Rating'] = df['Motion_picture_Rating'].replace(replace_rating, "Not Rated")

In [16]:
df['Motion_picture_Rating'].unique()

array(['A', 'UA', 'U', 'PG', '13', 'Not Rated', 'R', 'G', 'Approved', '7',
       '15+', '18', 'Passed', '12+'], dtype=object)

<h3 style="color:#a93226"><i><b>🛢️ Create Database and Store the Normalized DataFrame as Tables</b></i></h3>

In [17]:
conn=sqlite3.connect(os.path.join("../data/clean/","imdb_movie_details.db"))

In [18]:
df.to_sql("movies",conn, if_exists='replace', index=False)

246

In [19]:
writers_df.to_sql("Writers",conn, if_exists='replace', index=False)

548

In [20]:
genres_df.to_sql("Geners",conn, if_exists='replace', index=False)

1477

In [21]:
production_companies_df.to_sql("Production_companys",conn, if_exists='replace', index=False)

404

In [22]:
languages_df.to_sql("Languages",conn, if_exists='replace', index=False)

395

In [23]:
origin_df.to_sql("Origins",conn, if_exists='replace', index=False)

432

<h3 style="color:#a93226"><i><b>Checking the Database</b></i></h3>

In [24]:
conn.execute(
    '''
    select distinct(Motion_picture_Rating)
    from movies
    '''
).fetchall()

[('A',),
 ('UA',),
 ('U',),
 ('PG',),
 ('13',),
 ('Not Rated',),
 ('R',),
 ('G',),
 ('Approved',),
 ('7',),
 ('15+',),
 ('18',),
 ('Passed',),
 ('12+',)]

In [25]:
conn.commit()

In [26]:
conn.close()